body {
    font-family: Arial;
    background-color: #f3fdff;
}

/* กล่องเมนู */
.menu {
    position: relative;
    display: inline-block;
}

/* ปุ่มเมนู */
.dropbtn {
    background-color: #0f3cdf;
    color: rgb(235, 229, 216);
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(193, 199, 235);
    min-width: 150px;
}

.dropdown-content a {
    color: rgb(237, 36, 36);
    padding: 12px;
    display: block;
    text-decoration: none;
}


.dropdown-content a:hover {
    background-color: #b5b3b3;
}


.menu:hover .dropdown-content {
    display: block;
}
