body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: none; /* ทำให้ตารางมองไม่เห็น */
    padding: 5px;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.login {
    font-weight: bold;
    font-size: 18px;
}

.desc {
    color: gray;
}

.social img {
    width: 24px;
    margin: 5px;
}

button {
    width: 100%;
    padding: 15
        px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
