html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 5vw;
}

.left {
    background-color: lightgrey;
    width: 50%;
}

.right {
    background-color: lightpink;
    width: 50%;
}
